.main-container{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 97px);
}

.chat-container {
    padding: 20px;
    width: calc(100vw - 100px);
}

.messages {
    height: calc(100vh - 237px);
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.message {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.userInput {
    background: #dbf0fe;
    text-align: right;
}

.bot {
    background: #ececec;
    text-align: left;
}

.chat-container input, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.sidebar{
    width: 250px;
    border-right: 1px solid black;
    padding: 20px;
}

.sidebar ul{
    list-style-type:none;
}

.Button{
    padding: 0;
    margin: 10px auto;
}