.main-container{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 97px);
}

.chat-container {
    padding: 20px;
    width: calc(100vw - 100px);
}

.messages {
    height: calc(100vh - 200px);
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.message {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.userInput {
    background: #dbf0fe;
    text-align: right;
}

.bot {
    background: #ececec;
    text-align: left;
}

.chat-container input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border-width: 1px;
}

.sidebar{
    width: 290px;
    padding: 20px 0 20px 20px;
    background-color: #333;
}

.sidebar ul{
    list-style-type:none;
}

.sidebar ul li {
    padding: 10px;
    /* border-radius: 5px; */
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar ul li.selected {
    background-color: white !important;
}

.sidebar ul li.selected .chat-select {
    color: black !important;
}

.sidebar ul li:hover {
    background-color: #18A0FB;
}

.chat-select{
    background-color: transparent;
    border: none;
    color: white;
}

.input-group{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 20px 0;
}

#sendBtn{
    border: none;
    background-color: white;
    cursor: pointer;
}

#sendBtn img{
    height: 40px;
    padding: 0 10px;
}

h3{
    color: white;
    padding-bottom: 10px;
}