.main-container {
    display: flex;
    margin: 0;
    flex-grow: 1;
    min-height: calc(100vh - 97px);
}

.sidebar {
    top: 0%;
    width: 250px;
    background: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.toggle-btn {
    background: none;
    border: none;
    color: white;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.toggle-btn.active {
    background: #555;
}
.profile-content {
    flex-grow: 1;
    padding: 20px;
}
.content-section {
    display: none;
}
.content-section.active {
    display: block;
}
.Button {
    background-color: #007bff;
    color: white;
    padding: 0.8rem;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

/* Hover Effect */
.toggle-btn:hover {
    background-color: #18A0FB;
    color: white;
}