<header>
    <div class="header">
        <a href="{{ url_for('home') }}" class="logo">
            <div class="logo-header">
                <img src="{{ url_for('static', filename='images/commanager.png') }}" alt="logo-image" class="logo-image">
            </div>
        </a>
        <div class="search-bar">
            <input type="text" class="search-box" placeholder="Search">
        </div>
        <div class="profile">
            <a href="{{ url_for('user_profile', username=username) }}">
                <div class="user">{{ username }}</div>
            </a>
            <div class="avatar">        
                <img src="{{ pfp if pfp else url_for('static', filename='images/profile.png') }}" alt="User Avatar" class="avatar-img">
                <div class="profile-menu">
                    <ul>
                        <li><a href="{{ url_for('user_profile', username=username) }}">View Profile</a></li>
                        <li><a href="{{ url_for('user_orders', username=username) }}">Orders</a></li>
                        <li><a href="{{ url_for('user_messages', username=username) }}">Messages</a></li>
                        <li><a href="{{ url_for('user_settings', username=username) }}">Settings</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</header>
