<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
    <div id="header"></div>
    {% include "components/header.html" %}
    <script src="{{ url_for('static', filename='js/profile-menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/commissions-card.js') }}"></script>
    
    <div class="container">
        <h2>Discover</h2>
        <div class="main-content">
            {% for service in services %}
              <div class="commission-card">
                {% if service.image_urls and service.image_urls[0] %}
                  <img src="{{ service.image_urls[0] }}" alt="Service image" class="commission-image">
                {% endif %}
                <div class="commission-title">{{ service.title }}</div>
                <p class="commission-user">
                    <a href="{{ url_for('user_profile', username=service.username) }}" onclick="event.stopPropagation();">
                        {{ service.username }}
                    </a>
                  </a>
                </p>
                <div class="description">{{ service.description }}</div>
                <p class="price">${{ service.price }}</p>
        
              </div>
            {% endfor %}
        </div>
    </div>

    <div class="popup-overlay" id="popup">
        <div class="popup-content">
            <button class="close-btn" id="closePopup">&times;</button>
            <div class="popup-header">Commission Title</div>
            <div class="images">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
            <div class="popup-body">
                Commission description and details<br/><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                <br><br>
                <a href="{{ url_for('request_page') }}" class="request-button">Request</a>
            </div>
            

        </div>
    </div>
</body>
</html>